.head {
    display: flex;
    justify-content: space-between;
}
.all {
    width: 90%;
    margin: auto;
}
button {
    width: 145px;
    height: 40px;
    font-weight: bold;
    background-color: white;
    border-radius: 10%;
    border-color: black;
    margin: 20px;
}
.buttoms {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.obj {
    margin-top: 30px;
}
.h:hover {
    text-decoration: underline;
}
.col2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style:solid;
    margin: 20px;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.pink {
    background-color: pink;
}
.orange {
    background-color: orange;
}
.cols {
    display: flex;
}
@media screen and (max-width: 800px) {
    button {
        width: 135px;
        height: 30px;
        margin: 10px;
    }
    .cols {
        display: flex;
        flex-direction: column;
    }
}